AZURE_STORAGE_ACCOUNT_URL=https://stcortexdlake.dfs.core.windows.net

AZURE_SQL_SERVER=sqlcortexsrv.database.windows.net
AZURE_SQL_DATABASE=sqldb-gold-cortex
AZURE_SQL_USERNAME=trec_reader
AZURE_SQL_PASSWORD=
